<div class="config-container">
    <div class="config-left">
        <div class="form-group">
            <label for="song-title">Title</label>
            <input type="text" id="song-title" placeholder="Enter song title">
        </div>
        
        <div class="form-group">
            <label for="song-author">Author</label>
            <input type="text" id="song-author" placeholder="Enter song author">
        </div>
        
        <div class="form-group">
            <button id="btn-select-music">Select Music File</button>
            <span id="selected-music-name">No File Selected</span>
        </div>
        
        <div class="form-group checkbox-group">
            <input type="checkbox" id="chk-use-extracted" disabled>
            <label for="chk-use-extracted">Use Extracted Title & Author</label>
        </div>
        
        <div class="form-group checkbox-group">
            <input type="checkbox" id="chk-preview-song" disabled>
            <label for="chk-preview-song">Preview Song</label>
        </div>
    </div>
    
    <div class="config-right">
        <div class="metadata-group">
            <div id="extracted-author">No Author Found</div>
            <div id="extracted-title">No Title Found</div>
        </div>
        
        <div class="metadata-group">
            <div id="extracted-duration">0.00 Seconds</div>
        </div>
    </div>
</div>


